.section {
    
  /* height: 100vh; */
  height: auto;
  margin: 0;
  overflow: hidden;
}


.rippleBackground {
  /* background-image: url("/public/bggg.png"); */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dmSans {
  font-family: "DM Sans", sans-serif;
}

.jetBrains {
  font-family: "JetBrains Mono", monospace;
}

.sourceCode {
  font-family: "Source Code Pro", monospace;
}

.redB {
  border: 2px solid red;
}

.greenB {
  border: 2px solid green;
}