

.redB {
  border: 2px solid red;
}

.header {
    border-bottom: 1px solid rgba(131, 131, 131, 0.28);
    background: rgba(24, 24, 24, 0.05);
    /* backdrop-filter: blur(0px); */
}

.blurOverlay {
  inset: 0;
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  
  /* Adjusted gradient mask to stop blur before the bottom edge */
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  
  pointer-events: none;
  z-index: 1;
}


.dmSans {
  font-family: "DM Sans", sans-serif;
}