.section {
    
  /* height: 100vh; */
  /* height: auto; */
  margin: 0;
  overflow-x: hidden;
}


.rippleBackground {
  background-image: url("/src/assets/images/Section2bg.png");
  background-size: cover;
  background-position: top;
  /* height: 100%; */
  /* min-height: 100vh; */
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.dmSans {
  font-family: "DM Sans", sans-serif;
}

.jetBrains {
  font-family: "JetBrains Mono", monospace;
}

.sourceCode {
  font-family: "Source Code Pro", monospace;
}

.redB {
  border: 2px solid red;
}

.greenB {
  border: 2px solid green;
}